<!DOCTYPE html>
<html>
<head>
	<title>Dantangfan | blog</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{static_url('bootstrap/css/bootstrap.min.css')}}">
	<script src="{{static_url('js/jquery.min.js')}}" type="text/javascript" async defer></script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="{{static_url('bootstrap/js/bootstrap.min.js')}}" type="text/javascript" async defer></script>
	<style type="text/css" media="screen">
	#header a.astyle{
		color:gray;
		margin:0;
		padding:0;
		border:0;
		display:inline-block;
	}
	#header a:hover{
		border-bottom: 2px solid pink;
		border-radius: 0;
	}
</style><script src="{{static_url('js/marked.js')}}" type="text/javascript" async defer></script>
</head>
<body>
{%block header%}

<div class="container">
	<div class="row">
		<div class="col-md-9 col-sm-9 col-xs-10">
        	<div class="row" id="header">
        		<div class="col-md-4 col-sm-4 col-xs-4"></div>
        		<div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;margin-top: 10px;">
        			<a href="/" class="btn astyle">首页</a>
        			<a href="#" class="btn astyle">文章</a>
        			<a href="#" class="btn astyle">分类</a></li>
        			<a href="#" class="btn astyle">留言</a></li>
        			<a href="/admin/login" class="btn astyle">后台</a>
        		</div>
        		<div class="col-md-4 col-sm-4 col-xs-4"></div>
        	</div>

        	<div class="row">
        		<div class="col-md-1 col-sm-1 col-xs-1"></div>
        		<div class="col-md-10 col-sm-10 col-xs-10" style="text-align: center;">
        			<div class="page-header">
        				<h1>Dangtangfan <small>Blog</small></h1>
        			</div>
        		</div>
        		<div class="col-md-1 col-sm-1 col-xs-1"></div>
        	</div>
        	{%end%}
        	{%block main%}
        	{%end%}
		</div>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-2">
	aside
	</div>
	<div class="row" id="footer">
		<div class="col-md-4 col-sm-4 col-xs-4"></div>
		<div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;color:gray;margin-bottom: 30px;">
			<p>AUTHOR <span class="glyphicon glyphicon-record"></span> 蛋汤饭</p>
			<p>Copywrite 2015</p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4"></div>
	</div>
</div>
</body>
</html>