{%extends base.html%}
{%block main%}
<div class="row clearfix" style="margin-bottom: 30px;">
		{%for article in articles%}
			<h2 style="text-align: center;margin-bottom: 10px;">
				<a href="/article/{{article.id}}" style="color:#303030;text-decoration: none;">{{article.title}}</a>
			</h2>
			<p style="text-align: center;color:gray;margin-bottom: 20px">{{article.publish_time}}</p>
			<p style="text-align: center">{{article.summary}}</p>
			<p style="float:right; margin-right:20%;"><a href="/article/{{article.id}}">阅读全文</a></p>
			<br>
			<hr>
		{%end%}
</div>
{%end block%}