{%extends base.html%}
{%block main%}
<div class="row clearfix" style="margin-bottom: 30px;">
	<div class="col-md-2 col-sm-1 col-xs-1"></div>
	<div class="col-md-8 col-sm-10 col-xs-10 column">
		{%for article in articles%}
			<h2 style="text-align: center;margin-bottom: 10px;">
				<a href="/article/{{article.id}}" style="color:#303030;text-decoration: none;">{{article.title}}</a>
			</h2>
			<p style="text-align: center;color:gray;margin-bottom: 20px">{{article.publish_time}}</p>
			<p>{{article.summary}}</p>
			<p><a href="/article/{{article.id}}">阅读全文</a></p>
			<br>
			<hr>
		{%end%}
	</div>
	<div class="col-md-2 col-sm-1 col-xs-1"></div>
</div>
{%end block%}