li{
	list-style: none;
}

#header{
	box-shadow: 0 1px 0 #333;
	background-color: #333;
	height: 60px;
	color:white;
	padding-left:30px;
	padding-right: 30px;
}
#aside{
	background:#525252;
	margin: 0;
	padding: 0;
	min-height: 600px;
	padding-top: 10px;
}

#aside ul{
	border-top: 1px solid #393939;
	border-bottom: 1px solid #4E4E4E;
	margin: 0;
	padding: 0;
}

#aside ul li{
	padding:10px 20%;
	border-top: 1px solid #4E4E4E;
	border-bottom: 1px solid #393939;
}

#aside ul li a{
	color:white;
	text-decoration: none;
}

#aside ul li a span{
	margin-right: 15px;
}

#aside ul li.active{
	background-color: #3a3a3a;
}

#aside ul li:hover{
	background-color: #4A4A4A;
	cursor: pointer;
}